In [ ]:
!apt-get install sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 45 not upgraded.
Need to get 768 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.3 [768 kB]
Fetched 768 kB in 0s (5,858 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 121753 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.3_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.3) ...
Setting up sqlite3 (3.37.2-2ubuntu0.3) ...
Processing triggers for man-db (2.10.2-1) ...

In [ ]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('Database.db')

# Create a cursor object
cursor = conn.cursor()

# Define the schema and create the table
schema = """
CREATE TABLE IF NOT EXISTS Students (
    RollNo INTEGER PRIMARY KEY,
    Name TEXT,
    ValidUpto TEXT,
    Branch TEXT,
    Course TEXT,
    MailId TEXT,
    MobileNumber INTEGER
);
"""
cursor.execute(schema)

# Commit changes and close the connection
conn.commit()
conn.close()

print("Database and schema created successfully.")

Database and schema created successfully.

In [ ]:
!pip install Faker

Collecting Faker
  Downloading Faker-24.4.0-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 24.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-24.4.0

In [ ]:
import sqlite3
from faker import Faker

# Connect to SQLite database
conn = sqlite3.connect('Database.db')
cursor = conn.cursor()

# Define the number of entries to add
num_entries = 49

# Define the initial roll number and increment
initial_roll_no = 23410102
roll_no_increment = 1

# Create a Faker object to generate random data
fake = Faker()

# Insert entries into the Students table
for i in range(num_entries):
    # Generate random data
    name = fake.name()
    valid_upto = fake.date_time_this_decade().strftime("%B - %Y")
    branch = fake.random_element(elements=('CSE', 'ECE', 'ME', 'EE', 'CE'))
    course = fake.random_element(elements=('B.Tech', 'M.Tech', 'PhD'))
    mail_id = fake.email()
    mobile_number = fake.random_number(digits=10)

    entry = (initial_roll_no + i*roll_no_increment, name, valid_upto, branch, course, mail_id, mobile_number)
    insert_query = "INSERT INTO Students (RollNo, Name, ValidUpto, Branch, Course, MailId, MobileNumber) VALUES (?, ?, ?, ?, ?, ?, ?)"
    cursor.execute(insert_query, entry)

# Commit changes and close the connection
conn.commit()
conn.close()

print(f"{num_entries} entries added successfully.")

49 entries added successfully.

In [ ]:
# Connect to SQLite database
conn = sqlite3.connect('Database.db')
cursor = conn.cursor()

# Execute SELECT query to fetch all entries
select_query = "SELECT * FROM Students"
cursor.execute(select_query)

# Fetch all rows
rows = cursor.fetchall()

# Print the fetched rows
for row in rows:
    print(row)

# Close the connection
conn.close()

(23410102, 'Kelly Taylor', 'March - 2020', 'EE', 'M.Tech', 'evan76@example.net', 4252276563)
(23410103, 'Mikayla Miller', 'September - 2021', 'CSE', 'B.Tech', 'fisherkaitlyn@example.com', 2130997144)
(23410104, 'Christopher Scott', 'January - 2020', 'ME', 'M.Tech', 'juliemills@example.org', 5185178092)
(23410105, 'Kenneth Lopez', 'April - 2021', 'CE', 'M.Tech', 'oacosta@example.net', 5954193025)
(23410106, 'Micheal Campbell', 'August - 2020', 'CE', 'B.Tech', 'james68@example.net', 3695473891)
(23410107, 'Robert Johnson', 'October - 2022', 'EE', 'M.Tech', 'matthew84@example.com', 234831143)
(23410108, 'Alan Miller', 'November - 2022', 'CE', 'B.Tech', 'rbowman@example.org', 6250324967)
(23410109, 'Kathleen Casey', 'March - 2021', 'CE', 'M.Tech', 'pinedasherri@example.com', 5763071654)
(23410110, 'Dakota Rodriguez', 'September - 2023', 'CE', 'PhD', 'hurleysamuel@example.org', 8209752567)
(23410111, 'Cristina Daniels', 'August - 2022', 'EE', 'PhD', 'chicks@example.net', 9924017322)
(23410112, 'Aaron Sexton', 'September - 2023', 'CSE', 'PhD', 'brownsarah@example.net', 4300370666)
(23410113, 'Christina Valentine', 'July - 2023', 'EE', 'PhD', 'mccoyterri@example.org', 9985804254)
(23410114, 'Danny Rivera', 'April - 2021', 'EE', 'M.Tech', 'pughanthony@example.com', 3051781452)
(23410115, 'Kenneth Chambers', 'March - 2021', 'ME', 'M.Tech', 'theresa51@example.org', 155199239)
(23410116, 'Eddie Smith', 'October - 2022', 'ME', 'PhD', 'morganadam@example.net', 4331918780)
(23410117, 'Jennifer Navarro', 'July - 2023', 'ME', 'PhD', 'michael68@example.net', 1996323511)
(23410118, 'Nancy Quinn', 'October - 2020', 'CSE', 'PhD', 'clarkcynthia@example.org', 514275014)
(23410119, 'Kelly Dodson', 'April - 2020', 'CE', 'B.Tech', 'pughmichelle@example.org', 4568812444)
(23410120, 'Daniel Johnson', 'September - 2020', 'ME', 'B.Tech', 'tabithaowens@example.com', 6913520822)
(23410121, 'Casey Campbell', 'December - 2023', 'ME', 'B.Tech', 'timothybarron@example.com', 4136842576)
(23410122, 'Kathryn Hester', 'July - 2022', 'CSE', 'B.Tech', 'baldwindana@example.org', 7134246938)
(23410123, 'Ann Powers', 'December - 2023', 'CE', 'PhD', 'knightkristin@example.org', 7809286539)
(23410124, 'Jared Richard', 'August - 2020', 'ECE', 'PhD', 'allison15@example.net', 3772948719)
(23410125, 'Melissa Banks', 'August - 2023', 'CE', 'PhD', 'timothy61@example.net', 4675410737)
(23410126, 'Maxwell Carter', 'February - 2024', 'ME', 'B.Tech', 'davidjohnson@example.net', 6809827608)
(23410127, 'Vincent Todd', 'June - 2020', 'ME', 'M.Tech', 'aaron64@example.com', 5120818745)
(23410128, 'Peter Wells', 'July - 2020', 'CSE', 'M.Tech', 'michael86@example.org', 4905684411)
(23410129, 'Jack Cervantes', 'May - 2021', 'CSE', 'B.Tech', 'jbarr@example.net', 4705375357)
(23410130, 'Mary Atkins', 'November - 2020', 'ME', 'PhD', 'smithderek@example.net', 605078341)
(23410131, 'Shelly Gallegos', 'January - 2022', 'CSE', 'M.Tech', 'carsonmarisa@example.net', 5807772186)
(23410132, 'Phillip Dunn', 'October - 2022', 'ME', 'PhD', 'sarahhughes@example.com', 4198458864)
(23410133, 'William Williams', 'April - 2021', 'CSE', 'PhD', 'markjenkins@example.com', 5370413381)
(23410134, 'Dr. Dylan Dixon MD', 'July - 2020', 'CSE', 'B.Tech', 'alexis48@example.org', 423761304)
(23410135, 'Elizabeth Farley', 'January - 2024', 'ECE', 'M.Tech', 'ernest71@example.com', 3706439854)
(23410136, 'Michael Gomez', 'September - 2021', 'CE', 'B.Tech', 'dnewton@example.org', 3843085072)
(23410137, 'Andrea Perez', 'February - 2021', 'ME', 'PhD', 'lgreen@example.com', 7499353689)
(23410138, 'Benjamin Hester', 'April - 2022', 'CE', 'PhD', 'reyesashley@example.net', 7337812479)
(23410139, 'Kristina Hunter', 'July - 2023', 'EE', 'M.Tech', 'garciacynthia@example.com', 2886130557)
(23410140, 'Joshua Bailey', 'June - 2022', 'CSE', 'PhD', 'nthomas@example.com', 7683381585)
(23410141, 'Bryan Harris', 'September - 2022', 'CE', 'B.Tech', 'hmitchell@example.net', 2983820722)
(23410142, 'Mitchell Murray', 'September - 2021', 'ECE', 'B.Tech', 'qdawson@example.net', 2315732139)
(23410143, 'Samantha Ramos', 'February - 2021', 'ECE', 'M.Tech', 'krystal91@example.net', 5323876610)
(23410144, 'Emily Davis', 'October - 2020', 'CE', 'M.Tech', 'nancy80@example.net', 2291243026)
(23410145, 'Brian Ray', 'May - 2021', 'CE', 'M.Tech', 'martinezjeremy@example.com', 2360829253)
(23410146, 'Carrie Ray', 'April - 2021', 'ECE', 'M.Tech', 'cruzmiranda@example.net', 9476948881)
(23410147, 'Victoria Raymond', 'March - 2021', 'ME', 'B.Tech', 'joseph96@example.com', 3595106519)
(23410148, 'Andrea Grant', 'July - 2021', 'EE', 'B.Tech', 'keith16@example.com', 4568791240)
(23410149, 'Jennifer Barnes', 'December - 2022', 'CE', 'PhD', 'kleinshelia@example.net', 5961278746)
(23410150, 'David Turner', 'May - 2022', 'ECE', 'PhD', 'brandon92@example.org', 3540681242)